<h1>Welcome to this timetracking tool</h1>

<p>Ironhack powered</p>

<img src="/assets/dramatic-glasses.gif" alt="Kid removing his sunglasses epically" class='image'>
<%= image_tag "dramatic-glasses.gif", alt:"Kid removing his sunglasses epically", class:'image' %>

<p><%= link_to "Calculator", "/calculator", class: "calculator-link" %></p>
<p><%= link_to "Contact", "/contact", class: "contact-link" %></p>